.repos-card__container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.repos-card {
    width: 330px;
    height: 100%;
    border: 1px solid #b85cb2;
    text-align: center;
    max-width: 400px;
    margin: 0;
    background: #ffffff;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.repos-card__info {
    color: #000;
    margin-bottom: 20px;
}

.repos-card__avatar {
    width: 330px;
    height: 330px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    display: block;
}

.repos-card__title {
    font-size: 24px;
    margin-bottom: 5px;
    overflow: hidden;
}

.repos-card__text {
    font-size: 18px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.repos-card__url {
    background-image: linear-gradient(
            to right,
            #1200ff,
            #23cb50 50%,
            #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    overflow: hidden;
}

.repos-card__url:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.repos-card__url:hover {
    background-position: 0;
}

.repos-card__url:hover::before {
    width:100%;
}

.repos-card__elements {
    font-size: 18px;
    color: #000;
    list-style: none;
    margin: 0;
    padding: 0;
}

.repos-card__subtitle {
    font-size: 18px;
    color: #666;
}

.repos-card__about-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.repos-card__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.repos-card__wrapper {
    display: flex;
    justify-content: space-around;
}

.element__like-container {
    display: flex;
}

.element__button-like {
    background-image: url(../../assets/like.svg);
    background-size: 23px 20px;
    background-repeat: no-repeat;
    width: 25px;
    height: 21px;
    background-color: transparent;
    padding: 0;
    border: 1px solid #ffffff;
    border-style: none;
}

.element__button-like:hover {
    cursor: pointer;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}


.element__button-like_active {
    background-image: url(../../assets/like_active.svg);
}

